<div class="example-container">
  <div class="settings-block">
    <h4>Settings: </h4>
    <label>
      Show extra info?
      <input type="checkbox" [ngModel]="showBlock" (ngModelChange)="toggleExtraInfo($event)" />
    </label>
  </div>

  <div class="result-container">
    <h4>Result: </h4>
    <!-- this block will not be displayed until `showBlock` variable will became truthy -->
    <!-- ngIf directive is providen by `CommonModule` of angular -->
    <div class="card secondary-light" *ngIf="showBlock">
      This is very secret and hidden information.
      Please, uncheck the checkbox once you have read it.
    </div>
  </div>
</div>
