<div class="example-container">
  <div class="settings-block">
    <h4>Settings:</h4>

    <label>
      Add new item:
      <input [(ngModel)]="newBlacklistItem" />
      <button (click)="addItem()">Add</button>
    </label>

    <div class="block">
      Blacklisted values:
      <div class="blacklisted-values-list">
        <div class="blacklisted-values-item" *ngFor="let item of items">
          {{ item }} <button (click)="deleteItem(item)">❌</button>
        </div>
      </div>
    </div>

    <label>
      Your text value:
      <input [(ngModel)]="textValue" />
    </label>

    <!--
      This example just shows the possibility of validators usage with NgModel,
      but due the complexity it's better to use reactive forms [formControl] instead.

      If your component implements CVA (ControlValueAccessor) and providers NG_VALUE_ACCESSOR
      you can use your component with template-driven forms.

      This means you can bind your component with [ngModel] directive (from FormsModule) directly to
      your variables (regardless of the type).

      In this case we will use native INPUT component with default (builtin) CVA implementation.

      [ngModel] binding can be customized with [ngModelOptions] input parameter
      [ngModelOptions] contains three options you can customize:
      - name - control name
      - standalone - this means control is not bound to any parent reactive form ([formControl]/[form]).
                     if you are going to use [ngModel] inside a form, you will need to either set the name or mark this option as `true`.
      - updateOn - sets which trigger should update parent control value.
                   default value is `change` that means that every time CVA control calls `onChangeCallback`
                       parent component value will be changed.
                   if you'll specify `blur` that will mean that every time CVA control calls `onTouchedCallback`
                       parent component value will be changed, but `onChangeCallback` will be ignored.
                   if you'll specify `submit` that will mean that parent will be informed only when form will be submitted.
       p.s.
       Then we are going to export [ngModel] directive as #cvaAccessor variable to access the errors property of model.
    -->
    <div class="inner-form">
      <!-- We have exported CVA from `ngModel` as `cvaAccessor` -->
      <input
        #cvaAccessor="ngModel"
        [(ngModel)]="textValue"
        [required]="true"
        [minLength]="1"
        [maxLength]="32"
        [customBlackListValidator]="items"
        [ngModelOptions]="{ updateOn: 'change' }"
      />
      <span *ngIf="cvaAccessor.errors">Form control is invalid</span>
    </div>
  </div>

  <div class="result-container">
    <h4>Result:</h4>

    Value will be updated even if value is invalid.<br />
    Your value is:
    <div class="card secondary-light">
      <pre>{{textValue}}</pre>
    </div>
  </div>
</div>
