<div class="layout">
  <div class="navigation-menu primary" *ngIf="items">
    <ng-scrollbar>
      <ng-container *ngFor="let item of items">
        <div
          class="menu-item"
          [routerLink]="item.value.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span [style.padding-left.em]="1 * item.level">{{ item.value.name }}</span>
        </div>
      </ng-container>
    </ng-scrollbar>
  </div>

  <div class="body secondary" [class.half]="isDocumentationFrameOpened">
    <ng-scrollbar>
      <router-outlet></router-outlet>
    </ng-scrollbar>
  </div>

  <div class="documentation-frame" [class.expanded]="isDocumentationFrameOpened">
    <iframe [src]="url" *ngIf="currentUrl$ | async as url"></iframe>
    <div class="toggle" (click)="toggleDocumentation()">📄</div>
  </div>
</div>
