@use 'theme' as c;

.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;

  .navigation-menu {
    width: 320px;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
  }

  .body {
    flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
    padding: 1em;

    &.half {
      max-width: calc(50vw - 345px);
    }
  }

  .documentation-frame {
    @include c.primary-dark;
    position: absolute;
    width: 50vw;
    right: 0;
    height: 100%;
    transform: translateX(100%);
    transition: 0.3s transform ease;
    z-index: 2;

    iframe {
      width: 100%;
      height: 100%;
    }

    &.expanded {
      transform: translateX(0);

      &.toggle {
        right: 1em;
      }
    }

    .toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background: white;
      border: 2px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
      width: 2em;
      height: 2em;
      border-radius: 100%;
      right: calc(100% + 1em);
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: 0.3s opacity ease;
      opacity: 0.25;

      &:hover {
        opacity: 1;
      }
    }

    .visible {
      transform: translateX(0);
    }
  }

  .navigation-menu {
    .menu-item {
      padding: 1em;
      cursor: pointer;
      transition: 0.3s background-color ease;

      &:hover {
        @include c.primary-light();
      }

      &.active {
        @include c.primary-light();
      }
    }
  }
}
